<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286013234043-4qsmn3kgepmma6aqducp7c2kes5pkm91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286013234043-4qsmn3kgepmma6aqducp7c2kes5pkm91</string>
	<key>API_KEY</key>
	<string>AIzaSyAYZPYIIkbWWq-Mvp8gYCCuVISvFtfDGE4</string>
	<key>GCM_SENDER_ID</key>
	<string>286013234043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liftoff.sys</string>
	<key>PROJECT_ID</key>
	<string>liftoff1-5cd9d</string>
	<key>STORAGE_BUCKET</key>
	<string>liftoff1-5cd9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286013234043:ios:1cc9e6dafd712bc321fbde</string>
</dict>
</plist>